@using MattEland.Wherewolf.BlazorFrontEnd.Helpers

<div @ondragover="SetTarget" @ondragover:preventDefault="true"
     ondrop="dragDropInterop.handleDrop(event)">
    <MudPaper Class="@($"pa-4 {Role.GetTeamTheme()}")" Style="display: flex; flex-direction: row; align-items: center;">
        <MudIcon Icon="@Role.GetRoleIcon()" Size="Size.Medium" />
        <MudText Typo="Typo.input" Class="ml-1">@Role.ToString()</MudText>
    </MudPaper>
</div>