@using MattEland.Wherewolf.BlazorFrontEnd.Helpers
@using MattEland.Wherewolf.Roles

<div @ondragover="SetTarget" @ondragover:preventDefault="true"
     ondrop="dragDropInterop.handleDrop(event)">
    <MudPaper Class="@($"pa-4 {Role.GetTeamTheme()}")">
        @if (Role.HasValue)
        {
            <MudText Typo="Typo.input" Style="height: 100%;">@Role.Value.ToString()</MudText>
        }
        else
        {
            <MudText Typo="Typo.input" Style="height: 100%;">Empty</MudText>
        }
    </MudPaper>
</div>