@using MattEland.Wherewolf.Roles
@using MattEland.Wherewolf.Services

@inject RoleService RoleService

<section style="height: 100%;"
         draggable="true"
         ondragstart="dragDropInterop.setDragData(event, '@RoleName')"
         title="Drag this to assign this role to the game">
    <MudCard class="@Theme" Style="height: 100%;"> 
        <MudCardHeader>
            <MudText Typo="Typo.h6">
                @RoleName
            </MudText>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body2">
                @RoleDescription
            </MudText>
        </MudCardContent>
    </MudCard>
</section>

@code {
    [Parameter]
    public GameRole Role { get; set; }

    private string RoleName => Role.ToString();
    private string RoleDescription => RoleService.GetDescription(Role);
    private Team Team => Role.GetTeam();
    
    private string Theme => Team == Team.Villager 
        ? "mud-theme-primary" 
        : "mud-theme-secondary";
}