@using MattEland.Wherewolf.BlazorFrontEnd.Helpers
@using MattEland.Wherewolf.Roles
@using MattEland.Wherewolf.Services

@inject RoleService RoleService

<section style="height: 100%;"
         draggable="@AllowDrag"
         ondragstart="dragDropInterop.setDragData(event, '@RoleName')"
         title="Drag this to assign this role to the game">
    <MudCard class="@Role.GetTeamTheme()" Style="height: 100%;"> 
        <MudCardContent>
            <div style="display: flex; align-items: center; flex-direction: row;">
                <MudIcon Icon="@Role.GetRoleIcon()" Size="Size.Medium"/>
                <MudText Typo="Typo.h6" Class="ml-1">
                    @RoleName
                    @if (Count > 1)
                    {
                        <span class="ml-2">x @Count</span>
                    }
                </MudText>
            </div>
            <MudText Typo="Typo.body2">
                @RoleDescription
            </MudText>
        </MudCardContent>
    </MudCard>
</section>

@code {
    [Parameter]
    public GameRole Role { get; set; }

    [Parameter] public bool AllowDrag { get; set; } = true;
    [Parameter] public int Count { get; set; } = 1;

    private string RoleName => Role.ToString();
    private string RoleDescription => RoleService.GetDescription(Role);
    private Team Team => Role.GetTeam();
}