@using MattEland.Wherewolf.BlazorFrontEnd.Helpers

<section>
    <MudText Typo="Typo.h4">Claim a role</MudText>
    <MudText Typo="Typo.body2">
        Select a role you wish to tell other players you started the game as. This does not have to be true.
    </MudText>
    <MudGrid Class="mt-1">
        @foreach (var role in Game.Roles.OrderBy(r => r.ToString()).GroupBy(r => r).Select(r => r.Key))
        {
            <MudItem>
                <MudButton Variant="Variant.Filled"
                           Color="@role.GetTeamColor()"
                           StartIcon="@role.GetRoleIcon()"
                           Size="Size.Large"
                           OnClick="() => RoleClaimed(role)">
                    @role
                </MudButton>
            </MudItem>
        }
    </MudGrid>
</section>