@using MattEland.Wherewolf.BlazorFrontEnd.Helpers

<section>
    <MudText Typo="Typo.h4">Claim a Starting Role</MudText>
    <MudText Typo="Typo.body2" GutterBottom="true">
        Select a role you wish to tell other players you started the game as. This does not have to be true.
    </MudText>
    <RoleClaimProbabilityTable Game="@Game" PerspectivePlayer="@PerspectivePlayer" AllowClaimingRole="true" />
</section>