@using MattEland.Wherewolf.BlazorFrontEnd.Helpers
<section>
    <MudText Typo="Typo.h4">Vote</MudText>
    <MudText Typo="Typo.body2" GutterBottom="true">
        The table below shows your current estimation of player roles, including your own.
    </MudText>    
    <MudText Typo="Typo.body2" GutterBottom="true">
        Select a player to vote for. If there are no werewolves in play or a werewolf has more than one vote and is one
        of the players with the most votes against them, the villager team wins. Otherwise, werewolves win.
    </MudText>
    
    <VoteVictoryTable Game="@Game" PerspectivePlayer="@PerspectivePlayer" Probabilities="@Probabilities" AllowVoting="true" />

</section>